
//////////////////// HARD RESET ////////////////////

* {
    margin: 0;
    padding: 0;
}

//////////////////// GLOBAL STYLE ////////////////////

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    padding-bottom: 40px;
    p {
        font-size: 16px;
    }
}

$my-white: #FDFFFC;
$my-gray: #0D1B1E;
$my-red: #B50A11;
$my-beige: #E2DBBE;
$my-blue: #A9DDD6;

$large-size: 1200px;
$medium-size: 800px;
$small-size: 420px;


///////////////////////// MENU /////////////////////////

.navbar {
    background-color: $my-beige;
    padding-top: 30px;
    padding-bottom: 30px;
    .navbar-nav {
        position: absolute;
        right: 10px;
        @media only screen and (max-width: 992px) {
            position: relative;
            a {
                text-align: center;
            }
        }
    }
}

///////////////////////// HOME & CONTAINER /////////////////////////


.container {
    margin-top: 20px;
    max-width: 1300px;
    .jumbotron {
        background-color: $my-gray;
        color: white;
    }
    .intro {
        margin: 20px 0;
        text-align: center;
    }
    .food-crates {
        .crate-item {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 400px;
            margin-bottom: 10px;
            .crate-text {
                display: inline-block;
                margin: 10px 5px;
                padding: 40px 20px;
                flex-grow: 1;
                width: calc(100% * (1/2) - 10px);
                background-color: $my-beige;
                height: 400px;
                h3, p {
                    text-align: center;
                }
            }
            .crate-img {
                display: inline-block;
                margin:10px 5px;
                flex-grow: 1;
                width: calc(100% * (1/2) - 10px);
                background-image: url("../img/food-wide.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: auto 100%;
                height: 400px;
            }
            @media only screen and (max-width: 992px) {
                display: block;
                position: relative;
                margin-bottom: 10px;
                height: 100%;
                .crate-text {
                    width: 100%;
                    display: block;
                    position: relative;
                }
                .crate-img {
                    width: 100%;
                    display: block;
                    position: relative;
                }
            }
        }
    }
}



///////////////////////// GUIDES /////////////////////////

.container {
    .video-tiles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .video-item {
            width: calc(50% - 20px);
            padding: 20px;
            margin: 10px;
            h4 {
                text-align: center;
                margin-bottom: 10px;
            }
            iframe {
                display: block;
                margin: 0 auto;
                width: 100%;
                height: auto;
                min-height: 315px;
            }
        }
    }
    @media only screen and (max-width: 992px) {
        .video-tiles {
            .video-item {
                width: 100%;
            }
        }
    }
}