
//////////////////// HARD RESET ////////////////////

* {
    margin: 0;
    padding: 0;
}

//////////////////// GLOBAL STYLE ////////////////////

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    p {
        font-size: 16px;
    }
}

$my-white: #EBF5EE;
$my-green: #2B4141;
$my-red: #D30019;
$my-silver: #A1A6B4;
$my-blue: #A4BAB7;

$large-size: 1200px;
$medium-size: 800px;
$small-size: 420px;


///////////////////////// MENU /////////////////////////

.navbar {
    background-color: $my-blue;
    padding: 10px 5%;
    .navbar-nav {
        margin-left: auto;
        @media only screen and (max-width: 992px) {
            position: relative;
            a {
                text-align: center;
            }
        }
    }
    .navbar-brand {
        .coop-logo {
            width: 160px;
        }
    }
}


///////////////////////// LOGIN MODAL /////////////////////////
.create-user,
.login-user {
    form {
        width: 100%;
        margin: -7px auto 0 auto;
        padding: 20px;
        .item {
            position: relative;
            label {
                color: #000;
                position: absolute;
                top: 45px;
                left: 12.5%;
                pointer-events: none;
            }
            .custom-file {
                padding: 7px 12px;
                border-radius: 4px;
                background: $my-green;
                color: #fff;
                border: none;
                margin: 10px auto;
                display: block;
                min-width: 80px;
                width: 80%;
                pointer-events: auto;
                position: static;
                text-align: center;
            }
            input[type=number],
            input[type=password],
            input[type=text] {
                margin: 10px auto;
                padding: 12px 12px;
                border: 2px solid #000;
                border-radius: 4px;
                width: 80%;
                min-width: 200px;
                display: block;
            }
            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
        input[type=submit] {
            padding: 12px 12px;
            border-radius: 4px;
            background: $my-green;
            color: #fff;
            border: none;
            margin: 10px auto;
            display: block;
            min-width: 80px;
        }
    }
}


///////////////////////// HOME & CONTAINER /////////////////////////


.container {
    margin-top: 20px;
    max-width: 1400px;
    .jumbotron {
        background-color: $my-green;
        color: white;
        border-radius: 0;
    }
    .intro {
        margin: 20px 0;
        text-align: center;
    }
    .food-crates {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .crate-item {
            display: flex;
            width: calc(100% * (1/2) - 10px);
            margin: 5px;
            align-items: center;
            .crate-text {
                display: inline-block;
                margin-bottom: 10px;
                padding: 40px 20px;
                flex-grow: 1;
                width: calc(100% * (1/2) - 10px);
                background-color: $my-blue;
                h3, h4, p {
                    text-align: center;
                }
                h4 {
                    margin-bottom: 15px;
                }
                input[type=submit] {
                    padding: 12px 12px;
                    border-radius: 4px;
                    background: $my-green;
                    color: #fff;
                    border: none;
                    margin: 10px auto;
                    display: block;
                    min-width: 80px;
                }
                .carousel {
                    .carousel-inner {
                        height: 350px;
                        .carousel-item {
                            img {
                                min-height: 350px;
                                width: auto;
                            }
                            .carousel-caption {
                                top: 20px;
                            }
                        }
                    }
                }
            }

            @media only screen and (max-width: 992px) {
                display: block;
                position: relative;
                margin-bottom: 10px;
                width: 100%;
                //height: 100%;
                    .crate-text {
                        display: block;
                        width: 80%;
                        margin: 0 auto;
                    }
                }
        }
    }
}



///////////////////////// GUIDES /////////////////////////

.container {
    .video-tiles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .video-item {
            width: calc(50% - 20px);
            padding: 20px;
            margin: 10px;
            h4 {
                text-align: center;
                margin-bottom: 10px;
            }
            iframe {
                display: block;
                margin: 0 auto;
                width: 100%;
                height: auto;
                min-height: 315px;
            }
        }
    }
    @media only screen and (max-width: 992px) {
        .video-tiles {
            .video-item {
                width: 100%;
            }
        }
    }
}




//////////////////////// FOOTER //////////////////////

.footer {
    background-color: $my-blue;
    margin: 40px 0 0 0;
    height: 350px;
    .footer-left {
        width: 25%;
        height: 100%;
        display: flex;
        float: left;
        padding: 20px;
        align-items: center;
        .contact-info {
            
            ul {
                
                li {
                    list-style-type: none;
                }
            }
        }
    }
    .footer-center {
        width: 50%;
        height: 100%;
        display: inline-block;
        padding: 40px;
        float: left;
        .map {
            width: 100%;
            height: 100%;
            margin: 15px auto 0 auto;
            padding-bottom: 15px;
        }
    }
    .footer-right {
        width: 24%;
        display: flex;
        align-items: center;
        float: left;
        height: 100%;
        .social {
            width: 90px;
            display: block;
            margin: 0 auto;
            img {
                width: 40px;
                margin: 0;
                display: inline-block;
            }
        }
    }
    
}