
//////////////////// HARD RESET ////////////////////

* {
    margin: 0;
    padding: 0;
}

//////////////////// GLOBAL STYLE ////////////////////

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    p {
        font-size: 16px;
    }
}

$my-white: #EBF5EE;
$my-green: #2B4141;
$my-red: #D30019;
$my-silver: #A1A6B4;
$my-blue: #A4BAB7;

$large-size: 1200px;
$medium-size: 800px;
$small-size: 420px;


///////////////////////// MENU /////////////////////////

.navbar {
    background-color: $my-blue;
    padding: 10px 5%;
    .navbar-nav {
        margin-left: auto;
        @media only screen and (max-width: 992px) {
            position: relative;
            a {
                text-align: center;
            }
        }
    }
    .navbar-brand {
        .coop-logo {
            width: 160px;
        }
    }
}

///////////////////////// HOME & CONTAINER /////////////////////////


.container {
    margin-top: 20px;
    max-width: 1400px;
    .jumbotron {
        background-color: $my-green;
        color: white;
        border-radius: 0;
    }
    .intro {
        margin: 20px 0;
        text-align: center;
    }
    .food-crates {
        .crate-item {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            .crate-text {
                display: inline-block;
                margin-bottom: 10px;
                padding: 40px 20px;
                flex-grow: 1;
                width: calc(100% * (1/2) - 10px);
                background-color: $my-blue;
                h3, h4, p {
                    text-align: center;
                }
                h4 {
                    margin-bottom: 15px;
                }
            }
            .crate-img {
                display: inline-block;
                margin-bottom: 10px;
                flex-grow: 1;
                width: calc(100% * (1/2) - 10px);
                overflow: hidden;
                img {
                    height: 110%;
                    margin-left: 50%;
                    transform: translateX(-50%);
                }
            }
            .left {
                margin-right: 5px;
            }
            .right {
                margin-left: 5px;
            }
            @media only screen and (max-width: 992px) {
                display: block;
                position: relative;
                margin-bottom: 10px;
                height: 100%;
                .crate-text {
                    width: 100%;
                    display: block;
                    position: relative;
                }
                .crate-img {
                    width: 100%;
                    display: block;
                    position: relative;
                }
                .left {
                    margin-right: 0;
                }
                .right {
                    margin-left: 0;
                }
            }
        }
    }
}



///////////////////////// GUIDES /////////////////////////

.container {
    .video-tiles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .video-item {
            width: calc(50% - 20px);
            padding: 20px;
            margin: 10px;
            h4 {
                text-align: center;
                margin-bottom: 10px;
            }
            iframe {
                display: block;
                margin: 0 auto;
                width: 100%;
                height: auto;
                min-height: 315px;
            }
        }
    }
    @media only screen and (max-width: 992px) {
        .video-tiles {
            .video-item {
                width: 100%;
            }
        }
    }
}




//////////////////////// FOOTER //////////////////////

.footer {
    background-color: $my-blue;
    margin: 40px 0 0 0;
    .footer-menu {
        width: 50%;
        display: inline-block;
        float: left;
        padding: 80px;
        ul {
            li {
                list-style-type: none;
            }
        }
    }
    .footer-right {
        width: 50%;
        display: inline-block;
        padding: 40px;
        .social {
            margin: 15px auto;
            width: 90px;
            display: block;
            img {
                width: 40px;
                margin: 0;
                display: inline-block;
            }
        }

        .map {
            width: 300px;
            height: 200px;
            margin: 15px auto 0 auto;
            padding-bottom: 15px;
        }
    }
    
}