* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  padding-bottom: 40px;
}

body p {
  font-size: 16px;
}

.menu {
  width: 100%;
  height: 80px;
  background-color: #adca88;
  margin-bottom: 40px;
}

.menu .menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  height: 80px;
  width: 20%;
}

.menu .menu-item a {
  text-decoration: none;
  width: 100%;
  color: #222;
  text-align: center;
  padding: 30px 0;
}

.menu .menu-item a:hover {
  cursor: pointer;
  text-decoration: underline !important;
}

.menu .menu-item .selected {
  text-decoration: underline;
}

.menu-mobile {
  display: none;
  width: 100%;
  height: 80px;
  background-color: #adca88;
  margin-bottom: 40px;
}

.menu-mobile h2 {
  top: 25px;
  right: 30px;
  position: absolute;
}

.menu-mobile :first-child {
  padding-top: 80px;
}

.menu-mobile .menu-item-mobile {
  display: none;
  height: 80px;
  width: 100%;
  background-color: #adca88;
  text-align: center;
}

.menu-mobile .menu-item-mobile a {
  text-decoration: none;
  width: 100%;
  color: #222;
  text-align: center;
  padding: 30px 0;
}

.menu-mobile .menu-item-mobile a :hover {
  cursor: pointer;
}

.menu-mobile .menu-item-mobile .selected {
  text-decoration: underline;
}

@media only screen and (max-width: 650px) {
  .menu {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
}

.container {
  position: static;
  display: block;
  margin-bottom: 50px;
}

.container .container-item {
  display: block;
}

.container .container-item .container-form {
  width: 60%;
  margin: 0 auto;
  border: 1px solid #eee;
  position: relative;
  z-index: 1;
}

.container .container-item .container-form .exp-bar {
  border-bottom: 1px solid #eee;
  padding-left: 40px;
}

.container .container-item .container-form .exp-bar h2 {
  text-align: center;
  padding: 10px 0;
}

.container .container-item .container-form .exp-bar .plus-icon {
  width: 30px;
  position: absolute;
  top: 10px;
  left: 5px;
}

.container .container-item .container-form .exp-bar:hover {
  cursor: pointer;
}

.container .container-item .container-form .create-food,
.container .container-item .container-form .create-dish,
.container .container-item .container-form .create-foodplan {
  display: none;
}

.container .container-item .container-form .create-food .item-check .half-block {
  width: 50%;
  display: inline-block;
  float: left;
  text-align: center;
  margin-bottom: 40px;
}

.container .container-item .container-form form {
  width: calc(100% - 120px);
  margin: 0 auto;
  padding: 20px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.container .container-item .container-form form .item {
  position: relative;
}

.container .container-item .container-form form .item label {
  color: #222;
  position: absolute;
  top: 39px;
  left: 10%;
  pointer-events: none;
}

.container .container-item .container-form form .item .custom-file {
  padding: 12px 12px;
  border-radius: 4px;
  background: #adca88;
  color: #fff;
  border: none;
  margin: 10px auto;
  display: block;
  min-width: 80px;
  pointer-events: auto;
  position: static;
  text-align: center;
}

.container .container-item .container-form form .item input[type=number],
.container .container-item .container-form form .item input[type=text] {
  margin: 10px auto;
  padding: 12px 12px;
  border: 1px solid #eee;
  border-radius: 4px;
  width: 80%;
  min-width: 200px;
  display: block;
}

.container .container-item .container-form form .item input[type=number]::-webkit-inner-spin-button,
.container .container-item .container-form form .item input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container .container-item .container-form form input[type=submit] {
  padding: 12px 12px;
  border-radius: 4px;
  background: #adca88;
  color: #fff;
  border: none;
  margin: 10px auto;
  display: block;
  min-width: 80px;
}

#file {
  display: none;
}

@media only screen and (max-width: 650px) {
  .container .container-item .container-form {
    width: 90%;
  }
  .container .container-item .container-form form .item input[type=number],
  .container .container-item .container-form form .item input[type=text] {
    min-width: 0;
  }
}

.footer {
  position: absolute;
  bottom: -40px;
  height: 40px;
  background: #adca88;
  width: 100%;
  text-align: center;
  z-index: 200;
}
/*# sourceMappingURL=style.css.map */